/* color variables */
:root {
    --dark: rgb(8, 34, 49);
    --light: rgb(39, 61, 65);
    --whiteFont: rgb(245, 245, 245);
    --darkFont: rgb(0,0,0);
}

body {
    background-color: var(--dark);
    color: var(--whiteFont);
}

.top-bar {
    background-color: var(--dark);
    color: var(--whiteFont);
}

.top-bar a {
    color: var(--whiteFont);
}

.top-bar a:visited {
    color: var(--whiteFont);
}

.dropdown {
    color: var(--darkFont);
}

.dropdown li:hover {
    background-color: var(--light);
}

#banner {
    height: 250px;
    width: 100vw;
}

#reel {
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#disney, #amazon, #hulu, #netflix {
    max-height: 100px;
    max-width: 100px;
}

#stream {
    max-width: 10vw;
    max-height: 80vh;
    background-color: var(--dark);
}

#dropdownHeight {
    height: 150px;
    overflow: scroll;
}

#stylingCard {
    display: inline-block;
    background-color: var(--dark);
    color: var(--whiteFont);
    border: 5px solid rgb(245, 245, 245);
    padding: 5px;
    margin: 20px;
}

#cardTitle {
    background-color: var(--dark);
    color: var(--whiteFont);
    font-size: 30px;
    padding: 5px;
}

#cardImg {
    padding: 3px;
}

#stream {
    display: inline-block;
}

#orbitStyling {
    max-width: 100vw;
    max-height: 25vw;
}

