/* color variables */
:root {
    --dark: rgb(0, 62, 65);
    --light: rgb(39, 61, 65);
    --whiteFont: rgb(245, 245, 245);
    --darkFont: rgb(0,0,0);
}

body {
    background-color: var(--dark);
    color: var(--whiteFont);
}



.top-bar {
    background-color: var(--dark);
    color: var(--whiteFont);
}

.top-bar a {
    color: var(--whiteFont);
}

.top-bar a:visited {
    color: var(--whiteFont);
}

.dropdown {
    color: var(--darkFont);
}

.dropdown li:hover {
    background-color: var(--light);
}

#banner {
    height: 250px;
    width: 100vw;
}

#reel {
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#disney, #hbo, #hulu, #netflix {
    max-height: 100px;
    max-width: 100px;

}

#stream {
    max-width: 10vw;
    max-height: ;
}